html
    head
        style
        script(src="1.js")
        link(href="a.css", ref="relstylesheet")
    body
        div(class=['aaa', 'bbb', 'ccc'])
            a(href="http://www.baidu.com") 百度
            ul
                li
                    input(type="text", id="txt1", value="abc")
                li
                    input(type="text", id="txt1", value="abc")
                li
                    input(type="text", id="txt1", value="abc")
        div(style={width: '200px', height: '200px', background: 'red'})       